<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-item class="list card padding" ng-repeat="product in products">
        <div class="item item-avatar">
          <img src="avatar.jpg">
          <h2>{{product.nme}}</h2>
          <p>{{product.tagline}}</p>
        </div>

        <div class="item-image">
          <img class ="product_image"src="{{product.image}}">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-ios-pricetag-outline"></i>
          {{product.price}}gdes
        </a>
    </ion-item>
  </ion-content>
</ion-view>
